@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
html, body{
    height: 100%;
    font-family: 'Mukta', sans-serif;
    background: #1C1C1C;
    color: rgba(146, 145, 145, 0.815);
}
header{

    background-image: url(/images/jao.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
section{
    padding-top: 50px;
}
main{
    padding: 15px;
}
footer{
    padding-top: 20px;
}

/*HEADER*/

.banner-initial{
    position: relative;
    height: 100%;
}
.banner-dentro{
    color: #ffffff;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.img-nav-header{
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: black;
}
.img-nav-header a{
    color: #48484A;

}



/* Primeira section*/
.avatar_imagem{
    box-shadow: rgba(0, 0, 0, 0.507) 3px 3px 15px 0px;
    max-width: 200px;
    border-radius: 100px;
    margin: 0 auto 24px;
}

.ul-social-media{
    list-style: none;
    
}
.ul-social-media li {
    display: inline;
    font-size: 30px;
    margin: 10px;
}
.ul-social-media li a{
    color: rgb(255, 255, 255);
}
.div_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.avatar_social{
    text-align: center;
}
.panel-experiencia .panel-body{
    background-color: #48484A;
    color: #ffffff;
}
.panel{
    border: none;
}

#div-sobre{
    text-align: center;
    width: 70%;
}
#div-experiencias{
    text-align: center;
    width: 70%;
}
@media(min-width:768px) {
    .banner-dentro{
        left: 10%;
        transform: translate(0, -40%);
        text-align: center;
        width: 80%;
        
    }
    main{
        background-color: rgba(39, 39, 39, 0.856);
        box-shadow: 5px 5px 3px 3px rgb(0, 0, 0);
        padding: 15px;
        margin-top: 15px;
    }
    
}

/* Animação*/

.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: .3s all ease;
}




/*Linha do tempo*/


.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
color: #fff;
width: 50px;
height: 50px;
line-height: 50px;
font-size: 1.4em;
text-align: center;
position: absolute;
top: 16px;
left: 50%;
margin-left: -25px;
background-color: #999999;
z-index: 100;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
background-color: #2e6da4 !important;
}

.timeline-badge.success {
background-color: #3f903f !important;
}

.timeline-badge.warning {
background-color: #f0ad4e !important;
}

.timeline-badge.danger {
background-color: #d9534f !important;
}

.timeline-badge.info {
background-color: #5bc0de !important;
}

.timeline-title {
margin-top: 0;
color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
margin-bottom: 0;
}

.timeline-body > p + p {
margin-top: 5px;
}

@media (max-width: 767px) {
ul.timeline:before {
left: 40px;
}

ul.timeline > li > .timeline-panel {
width: calc(100% - 90px);
width: -moz-calc(100% - 90px);
width: -webkit-calc(100% - 90px);
}

ul.timeline > li > .timeline-badge {
left: 15px;
margin-left: 0;
top: 16px;
}

ul.timeline > li > .timeline-panel {
float: right;
}

ul.timeline > li > .timeline-panel:before {
border-left-width: 0;
border-right-width: 15px;
left: -15px;
right: auto;
}

ul.timeline > li > .timeline-panel:after {
border-left-width: 0;
border-right-width: 14px;
left: -14px;
right: auto;
}
}