@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Ubuntu:wght@500&display=swap');
html, body{
    height: 100%;
    font-family: 'Mukta', sans-serif;
}
header{

    background-image: url(/images/background2.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
section{
    padding-top: 50px;
}
main{
    padding: 15px;
}
footer{
    padding-top: 20px;
}

/*HEADER*/

.banner-initial{
    position: relative;
    height: 100%;
}
.banner-dentro{
    color: #ffffff;
    
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.img-nav-header{
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: black;
}
.img-nav-header a{
    color: #48484A;

}



/* Primeira section*/
.avatar_imagem{
    box-shadow: rgba(0, 0, 0, 0.75) 3px 3px 15px 0px;
    max-width: 200px;
    border-radius: 100px;
    margin: 0 auto 24px;
}

.ul-social-media{
    list-style: none;
    
}
.ul-social-media li {
    display: inline;
    font-size: 30px;
    margin: 10px;
}
.ul-social-media li a{
    color: #48484A;
}
.div_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.avatar_social{
    text-align: center;
}

#div-sobre{
    text-align: center;
    width: 70%;
}
#div-experiencias{
    text-align: center;
    width: 70%;
}
@media(min-width:768px) {
    .banner-dentro{
        left: 10%;
        transform: translate(0, -40%);
        text-align: center;
        width: 80%;
        
    }
    main{
        background-color: rgba(255, 255, 255, 0.856);
        box-shadow: 5px 5px 5px 5px;
        padding: 15px;
        margin-top: 15px;
    }
    
}

/* Animação*/

.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: .3s all ease;
}