* {
    margin:0px;
    padding:0px;
  }
  html, body{
    height: 100%;
    background-color: #f0f0f7;
    height:100%;

	width:100%;

	margin:auto;
}
section{
    padding: 100px 0;
    position: relative;
    display: block;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
header.masthead{
    background-color: rgb(12, 13, 17);
       
}
header.masthead>div{
    display: inline;
}

.avatar-img{
    width: 150px;
}
header.masthead>.container{
    padding-top: 20px;
}

.div-esconde, .div-resultado-filtro{
    display: none;
}
.div-aparece{
    display: block!important;
}

.card-pesquisa{
    max-width: 500px;
       
}
@media(min-width:580px){
    .card-pesquisa{
        left: 33%;
        position: absolute;
        top: 25%;
    }
    
}
@media(max-width:579px){
    #card-resultado{
        margin-left: 35px;
    }
}

.div-input-pesquisa,.div-card-resultado{
    padding-bottom: 30px;
}
.div-card-resultado > #card-resultado > ul > li {
    list-style: none;
    padding-left: 10px;
}