body{
    background-image: url(/img/background2.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    min-height: 100%;    
    
}
header{
    background-color: white;
     width: 100%;
    margin: 0 auto;
   top: 0;
   position: fixed;
   opacity: 100%;
}
.menu-principal{
    
    height: 66px;
    margin: 20px auto;
    position: relative;
    float: right;
    
}
.menu-principal ul{
    list-style: none;
}
.menu-principal li{
    float: left;
    top: 0;
}
.menu-principal li a{
    display: block;
    padding: 10px 0;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: lowercase;
    text-decoration: none;
    color: #000;
    margin: 10px 10px 0 0;
    width:100;
    text-align: center;
}
.img-principal{

    position: absolute;
    left: 20px;
    top: 0px;

}
.rodape-pagina{
    background-color: white;


}
.box{
    width: 400px;
    height: 300px;
    background:transparent;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 200px;
    height: 100vh;
    left: 50%;
   
}
.container h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.container h3{
    color: white;
}
.botao-ver-mais{
    background: transparent;
    border: black;
    color: white;
    cursor: pointer;
}
